faiss-cpu
sentence-transformers
langchain
langchain-community
langchain-core
langchain-groq
streamlit
python-docx
pypdf
reportlab
youtube-transcript-api
groq
yt-dlp
python-dotenv
pydub
python-pptx
pandas
openpyxl
xlrd
bs4
