streamlit
python-dotenv
PyPDF2
python-docx
python-pptx
pandas
openpyxl
xlrd
reportlab
requests
beautifulsoup4
lxml
langchain
langchain-groq
langchain-core
langchain-community
groq
sentence-transformers
faiss-cpu
youtube-transcript-api
typing-extensions
numpy
